.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 13%;
    padding-top: 30px;
    gap: 20px;
  height: 136px;
  background-color: #1f3faa;
  color: white;
  & > div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    & > img {
        margin-top: 5px;
    }
    & > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    & > span {
        font-size: 18px;
        width: 200px;
    }
  }
}