.main {
    width: 100vw;
    height: 100%;
 background: #F3F6F9;
}

.banner {
    height: 433px;
    width: 100%;
    background-image: url('/miniBanner.png'), url('/banner.png');
    background-repeat: no-repeat, repeat;
    background-position: right bottom; 
}

.calculation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
    width: 100%;
    height: 182px;
    background: #066BB9;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 100px;
    &_input {
        width: 639px;
        height: 54px;
        border-radius: 5px;
        margin-right: 21px;
        padding-left: 20px;
        &::placeholder {
            color: #C0C0C0;
            font-size: 16px;
        }
    }
    &_button {
        height: 54px;
        width: 182px;
        background: #E68A00;
        font-size: 16px;
        border-radius: 15px;
        color: white;
        font-weight: bold;
    }
}

.section {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 0 90px;

    &_name {
        font-size: 30px;
        font-weight: bold;
    }
}
.sectionZel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 94px;

    & > p {
        width: 628px;
        font-size: 18px;
    }
    &_box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 42px;
        column-gap: 90px;
    }
    &_item {
        display: flex;
        align-items: center;
        gap: 22px;
        & > span {
            width: 165px;
        }
    }
}

.order {
    margin: 35px 0;
    &_window{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin-bottom: 94px;
    }
    &_item{
        display: flex;
        justify-content: space-between;
        padding: 48px 53px 26px 42px;
        background: #ffffff;
        border: 1px solid rgb(204, 204, 204);
    }
    &_info{
        display: flex;
        flex-direction: column;
    }
    &_name{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 6px;
    }
    &_description{
        font-size: 16px;
        margin-bottom: 40px;
    }
    &_price {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 11px;
    }
    &_button{
        height: 42px;
    }
    &_text {
        font-size: 16px;
    }
}

.price_text {
    font-size: 18px;
    margin: 26px 0 46px 0;
    &_color {
        color: #066BB9;
    }
}
.price_box_button {
    display: flex;
    justify-content: center;
    gap: 43px;
    margin: 38px 0 98px 0;
    width: 100%;
    & :disabled {
        background: #C0C0C0;
    }
}
.price_button {
    height: 42px;
    width: 182px;
}
.price_box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        background: #ffffff;
        padding: 12px 46px 15px 46px;
        & > img {
            width: 315px;
            height: 225px;
        }
        & > span {
            font-size: 16px;
            margin: 0 -46px;
        }
    }
    &_itemCenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        background: #066BB9;
        padding: 12px 46px 15px 46px;
        & > img {
            width: 315px;
            height: 225px;
        }
    }
}