.main {
    width: 100vw;
    height: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 13%;
    background-color: #f5f5f5;
    & > span {
        &:hover {
            cursor: pointer;
        }
    }
}
.banner {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    height: 400px;
    &_img {
        background-image: url('/public/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &_main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffe650;
        padding: 50px;
    }
    &_action {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        color: #ed1c24;
        font-size: 20px;
        font-weight: 700;
        height: 43px;
        width: 89px;
        border-start-start-radius: 180px 20px;
    }
    &_tittle {
        width: 100%;
        color: #000000;
        font-size: 35px;
        font-weight: bold;
    }
    &_input {
        width: 270px;
        height: 50px;
        padding-left: 50px;
        font-size: 15px;
    }
    &_inputBox {
        position: relative;
        & > img {
            position: absolute;
            left: 20px;
            top: 35%;
        }
    }
    &_subTittle {
        font-size: 16px;
        font-weight: 500;
    }
    &_buttonRed {
        width: 184px;
        height: 50px;
        background-color: #ed1c24;
        color: white;
        font-size: 16px;
    }
    &_button {
        width: 157px;
        height: 48px;
        border: 1px solid #211d70;
        background-color: transparent;
        color: #211d70;
        font-size: 16px;
    }
    &_form {
        display: flex;
        gap: 12px;
    }
}

.price {
    margin: 50px 0;
    &_arrowL,
    &_arrowR {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background: linear-gradient(180deg, #f470aa 0, #b73b7a 100%);
        box-shadow: 0 0 0 10px rgba(255, 200, 224, .6);
        transition: all .3s ease-in-out;
        left: calc(50% - 590px);
        top: 88%;
        z-index: 50;
        &:hover {
            box-shadow: none;
        }
        & > img {
            height: 20px;
            width: 20px;
        }
    }
    &_arrowR {
        left: calc(50% + 550px);
    }
    &_box {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &_title,
    &_titleLeft {
        color: #054c7a;
        font-size: 30px;
        font-weight: 900;
    }
    &_titleLeft {
        position: relative;
        display: inline-block;
        border-bottom: 10px solid;
        border-image: url('/public/line.svg') 0 0 10 0;
    }
    &_list {
        display: flex;
        justify-content: center;    
        gap: 40px;
        height: 332px;
        padding-top: 46px;
        margin-top: 60px;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
            width: 0;
        }
    }

    &_item {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        min-width: 550px;
        height: 266px;
        background: #f7f7f7;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
        padding: 40px 45px;
        & > span {
            z-index: 20;
        }
        & > p {
            width: 290px;
            z-index: 20;
            font-size: 14px;
        }
        & > div {
            position: absolute;
            height: 100%;
            width: 100%;
            overflow: hidden;
            top: 0;
            left: 0;
            & > div {
                position: absolute;
                height: 275px;
                width: 275px;
                border-radius: 50%;
                background: #ffffff;
                z-index: 10;
                right: 0;
                top: 30px;
            }
        }
        & > img {
            position: absolute;
            z-index: 30;
            right: 40px;
            bottom: 20px;
        }
    }
    &_name {
        font-weight: 700;
        font-size: 24px;
        color: #054c7a;
        text-decoration: underline;
    }
    &_price {
        font-weight: 700;
        font-size: 14px;
        background: #df6b9e;
        border-radius: 90px;
        padding: 10px 20px;
        color: #fff;
        margin: 10px 0;
    }
}

.windows {
    display: flex;
    flex-direction: column;
    padding: 0 13%;
    &_title {
        font-size: 30px;
        font-weight: 700;
    }
    &_listName {
        display: flex;
        gap: 13px;
        margin: 27px 0 35px 0;
        & > span {
            font-size: 16px;
            font-weight: 700;
        }
    }
    &_listType {
        display: flex;
        gap: 5px;
        & > span {
            padding: 22px;
            background: #dbdbdb;
            font-size: 16px;
        }
    }
    &_main {
        height: 1154px;
        width: 100%;
        border: 1px solid black;
    }
    &_mainTop {
        display: flex;
        align-items: flex-end;
        gap: 36px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.26);
        height: 107px;
        padding-left: 36px;
        & > span {
            font-weight: 500;
            font-size: 25px;

            margin-bottom: -1px;
        }
    }
    &_mainMiddle {
        display: flex;
        position: relative;
        gap: 84px;
        height: 452px;
        padding: 73px 121px 0 45px;
    }
    &_arrowL,
    &_arrowR {
        position: absolute;
        top: 50%;
    }
    &_arrowR {
        right: 2%;
    }
    &_mainInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > p {
            font-size: 16px;
            font-weight: 500;
            margin-top: 28px;
        }
    }
    &_mainPrice {
        font-size: 35px;
        font-weight: 500;
        color: rgba(48, 182, 249, 1);
        margin-top: 44px;
        line-height: 35px;
    }
    &_mainTitle {
        font-size: 35px;
        line-height: 35px;
        font-weight: 700;
        & > span {
            font-size: 30px;
            line-height: 30px;
            font-weight: 500;
            font-style: italic;
        }
    }
    &_mainButton {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 76px;
        margin-top: 21px;
        & > button {
            height: 74px;
            padding: 0;
            border: 1px solid rgba(0, 0, 0, 1);
            font-size: 25px;
            font-weight: 500;
            background: rgba(255, 255, 255, 1);
        }
    }
    &_mainList {
        display: flex;
        align-items: flex-end;
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.26);
        & > span {
            width: 284px;
            text-align: center;
            font-size: 25px;
            line-height: 50px;
            font-weight: 500;
            margin-bottom: -1px;
        }
    }
    &_mainBottom {
        display: flex;
        gap: 84px;
        height: 504px;
        padding: 73px 121px 71px 45px;
        & > div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 80px;
        }
        & > img {
            min-width: 365px;
            object-fit: contain;
        }
    }
    &_type {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        & > div {
            display: flex;
            flex-direction: column;
        }
        &_title {
            font-size: 25px;
            line-height: 25px;
            font-weight: 700;
            margin-bottom: 17px;
        }
        &_key {
            font-weight: 500;
            font-size: 25px;
            line-height: 25px;
            & > span {
                font-size: 35px;
                line-height: 35px;
                color: rgb(48, 182, 249);
            }
        }
        &_sale {
            display: block;
            font-weight: 700;
            font-size: 35px;
            line-height: 35px;
            color: rgb(48, 182, 249);
            & > span {
                display: block;
                font-size: 25px;
                line-height: 25px;
            }
        }
        &_price {
            padding: 10px 73px;
            background: rgba(48, 182, 249, 1);
            font-weight: 700;
            font-size: 45px;
            line-height: 45px;
            color: white;
            margin-top: 14px;
        }
    }
    &_calculate {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > div {
            display: flex;
            align-items: center;
            gap: 24px;
            & > span {
                font-size: 25px;
                line-height: 25px;
                font-weight: 700;
            }
        }
        & > p {
            font-size: 25px;
            line-height: 25px;
            font-weight: 500; 
            & > span {
                font-weight: 700; 
            }
        }
        & > button {
            height: 65px;
            width: 100%;
            border: 1px solid rgb(0, 0, 0);
            background: #ffffff;
            font-size: 25px;
            line-height: 25px;
            font-weight: 500; 
        }
    }
}
.installment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 13%;
    height: 388px;
    margin: 50px 0;
    &_img {
        height: 388px;
        max-width: 100%;
        object-fit: fill;
    }
    &_info {
        padding: 24px;
        background-color: #f4f4f4;
        & > p {
            font-size: 19px;
        }
    }
    &_title {
        font-size: 23px;
        font-weight: 700;
    }
    &_list {
        display: grid;
        margin-top: 4px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    &_listItem {
        & > div {
            display: flex;
            gap: 8px;
            margin-bottom: 8px;
            & > span {
                color: #ff4545;
                font-size: 19px;
                font-weight: 700;
            }
        }
        & > p {
            font-size: 15px;
        }
    }
    &_button {
        width: 100%;
        height: 52px;
        background: #ff4545;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        margin-top: 25px;
    }
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > span {
        margin-bottom: 25px;
        font-size: 36px;
        font-weight: 400;
    }
    & > p {
        font-size: 16px;
        margin-bottom: 20px;
        width: 780px;
        text-align: center;
    }
    & > div {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 360px);
        justify-content: center;
        gap: 30px;
    }
    &_item {
        position: relative;
        height: 266px;
        & > img {
            height: 100%;
            width: 100%;
            object-fit: fill;
        }
        & > span {
            position: absolute;
            font-size: 23px;
            font-weight: 700;
            color: white;
            width: 100%;
            left: 0;
            text-align: center;
            bottom: 37px;
        }
    }
}
.catalog {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 30px 13%;
    margin-top: 50px;
    & > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        & :first-child {
            font-weight: 700;
            cursor: default;
            &:hover {
                color: #000000;
            }
        }
        & > span {
            cursor: pointer;
            &:hover {
                color: #066bb9;
            }
        }
    }
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13%;
    margin-top: 50px;
    &_top {
        display: flex;
        gap: 20px;
        height: 338px;
        width: 100%;
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & > button {
                margin-top: 23px;
                font-size: 20px;
                font-weight: 600;
                color: white;
                background: #405db6;
                height: 50px;
                width: 287px;
                box-shadow: 0px 0px 4px 2px #999;
            }
            & > span {
                font-size: 28px;
                font-weight: 500;
                text-align: center;
            }
        }
    }
    &_middle {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: #405db6;
        font-size: 26px;
        align-items: center;
        margin: 30px 0;
        & > a {
            color: #405db6;
        }
    }
    &_bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    &_bottomItem {
        display: flex;
        gap: 20px;
        font-size: 26px;
        font-weight: bold;
        & > img {
            height: 70px;
            width: 70px;
        }
        & > div {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &_list {
        padding-left: 20px;
        & > li {
            font-size: 18px;
            font-weight: normal;
            &::marker {
                color: #405db6;
            }
        }
    }
    &_button {
        height: 45px;
        width: 630px;
        box-shadow: 0px 0px 4px 2px #999;
        font-size: 20px;
        color: white;
        background: #405db6;
        margin-top: 15px;
    }
}
