:root {
    overflow-x: auto;
    font-family: "Source Sans 3", sans-serif;
}
:root::-webkit-scrollbar {
    display: none;
    width: 0;
}
* {
    margin: 0;
    box-sizing: border-box;
}

input,
button {
    border: none;
    outline: none;
    font-family: "Source Sans 3", sans-serif;
}
